:root {
    --background-color: #5FB3F9;
}

/* Navigation Bar */

.navbar {
    padding: 1rem 2rem;
}

.nav-item {
    padding: 0 1rem;
}

/* Title */

#title {
    background-color: var(--background-color);
    color: #fff;
    padding-bottom: 1rem;
}

.frontPageText {
    padding-top: 250px;
    padding-left: 75px;
    text-align: center;
}

#LFE-Logo {
    width: 70%;
    margin-left: 75px;
}

/* Service */

#service {
    text-align: center;
    padding: 5% 15%;
}

.question-row {
    margin: 1rem;
}

#question-one {
    margin-bottom: 2rem;
}

#question-two, #question-four {
    padding-right: 2rem;
}

#question-four {
    padding-left: 2rem;
}

.question-icon {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Appointment */

#appointment {
    background-color: var(--background-color);
    color: #fff;
    padding: 3% 15%;
    text-align: center;
}

/* Footer */

#footer {
    text-align: center;
    padding: 4% 15%;
}

.social-icon {
    margin: 1rem;
}